*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body{

	    background-color: #f5f5f5;
		margin: 60px;
}
input{
	text-align: center;
	height: 30px;
	border-radius: 5px;
	margin: 5px;
	font-family: arial sans sarif;
	font-size: 16px;
}
span{
	color: blue;
}
.container{
	border: 5px solid #57606f;
	background-color: #ffffff;
	width: 360px;
	height: auto;
}